/* Основное */

body {
    margin: 0 auto;
    line-height: 1.6;
    position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: white;
  display: inline-block;
  line-height: 0px;
}
img {
  margin: 0 0 0 0;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.qos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
}

/* Языки */

:lang(ru) {
    font-family: 'Roboto Slab', cursive;
    font-weight: bold;
}

:lang(en) {
    font-family: 'Galada', cursive;
}

/* Шапка */

.header{
  width: 100%;
  height: 100px;
  background: #C8B6FF;
  position: fixed;
  z-index: 999;
}
.headin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
}
.headzagl{
  font-size: 70px;
}
.nav{
  margin-right: 10px;
  align-items: center;
}
.nav-link {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s linear;
  transition: background-color 0.2s linear;
}
.nav-btn {
  background-color: #C8B6FF;
  border: 0px;
  border-radius: 10px;
  margin-left: 15px;
  right: 50px;
  position: relative;
}
.login-button{
  background-color: #C8B6FF;
  border: 0px;
  border-radius: 10px;
  margin-left: 15px;
  right: 50px;
  position: relative;
}
.navs{
  font-size: 30px;
  text-align: center;
  padding: 5px 5px;
  line-height: 0px;
}
.login-button:hover .nav-link{
  background-color: #fff;
  color: #C8B6FF;
}
.nav-btn:hover .nav-link {
  background-color: #fff;
  color: #C8B6FF;
}
.nav-link.active {
  color: #C8B6FF;
}

/* Интро */

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(Фон.png) no-repeat center center; width: 100%; height: 100%;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #C8B6FF;
}
.zagl{
  font-size: 85px;
  width: 100%;
  margin-top: 240px;
  text-align: center;
}
.zaglh{
  font-size: 40px;
  position: relative;
  bottom: 70px;
}
.zaglimg{
  height: 150px;
  width: 150px;
  position: relative;
  left: -12px;
  top: 12px;
}
.down{
    margin: auto;
    width: 100%;
    align-items: center;
    position: relative;
    top: 100px;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
    padding-bottom: 115px;
}
.transition-out {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.downp{
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.downimg{
  width: 35px;
  height: 35px;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-30px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-30px); }
}
.downdiv{
  text-align: center;
  position: relative;
  bottom: 30px;
}
.link {
  text-decoration: none;
}

/* О нас */

.Aqos{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
  overflow: hidden;
}
.bl{
  width: 100%;
  height: 100%;
  position: relative;
  display:inline-block;
}
.bl1{
  background-color: #C8B6FF;
  border-radius: 10px;
  width: 43%;
  padding: 0 30px;
  left: 20px;
  position: relative;
  float: left;
}
.bl1p{
  text-indent: 30px;
  color: #fff;
  font-size: 20px;
  padding: 5px 5px;
  text-align: left;
}
.bl2{
  width: 43%;
  padding: 0 30px;
  left: 20px;
  position: relative;
  bottom: 270px;
}
.bl2p{
  text-indent: 30px;
  color: #C8B6FF;
  font-size: 20px;
  padding: 5px 5px;
  text-align: left;
}
.bl3{
  background-image: url(Фон.png);
  background-size: cover;
  border-radius: 10px;
  width: 43%;
  padding: 0 30px;
  position: relative;
  float: left;
  left: 60px;
}
.bl3p{
  text-indent: 30px;
  color: #fff;
  font-size: 20px;
  padding: 5px 5px;
  text-align: left;
}

/* Закладка */

.inq{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-wrap: balance;
}

.zacl{
    font-size: 20px;
    color: white;
    text-align: center;
}

.imgblock {
    position: relative;
    right: 660px;
    display: inline-block;
}

.imgblock img {
    height: 40px;
    width: 200px;
}
.imgblock span {
    color: #ffffff;
    border-radius: 2px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 15px;
}

/* Страница Q&A */

.qanda{
  position: relative;
  top: 30px;
}
.ps{
  color: #C8B6FF;
  position: relative;
  font-size: 25px;
  text-indent: 30px;
  background-color: #fff;
  border: 10px solid;
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
}
details{
  position: relative;
  left: 130px;
  display:block;
  background: #C8B6FF;
  width:1200px;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  overflow:hidden;
  margin-bottom: 10px;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
   display:block;
   padding: .3em 1em .3em .9em;
   border-bottom: 1px solid #e2e8f0;
   color: #fff;
   font-size: 25px;
   cursor: pointer;
   position: relative;
}
summary:before {  
  top: 15px;
  right: 40px;
  color: transparent;
  background: url(вопрос.png) no-repeat 50% 50% / 1em 1em;
  width: 1em;
  height: 1em;  
  content: "";
  position: absolute;
  transition: transform .5s;
}
details[open] > summary:before {
  transform: scale(1,-1);
}
summary ~ * {
  padding: 10px 10px 10px 10px;
}
details[open] summary ~ *{ 
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
summary:focus {
  outline:0;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}

/* Контакты */

.cont{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
  overflow: hidden;
  position: relative;
}
.kontk{
  width: 40%;
  background-image: url(Фон.png);
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 30px;
  display: inline-block;
}

.kontbord1{
  margin: 10px 10px 10px 10px;
  background-color: #C8B6FF;
  border: #fff 10px solid;
  border-radius: 20px;
  position: relative;
  height: 560px;
}
.kontzgl1{
  font-size: 40px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
.kontp1{
  color:#fff;
  font-size: 25px;
  position: relative;
  top: -60px;
  text-align: center;
}
.imgnomber1{
  height: 50px;
  width: 50px;
  position: relative;
  top: -60px;
  left: 110px;
}
.moblenumber1{
  color: #fff;
  position: relative;
  font-size: 30px;
  text-align: center;
  top: -145px;
  margin-left: 30px;
}
.podnumber1{
  color: #fff;
  position: relative;
  font-size: 19px;
  top: -185px;
  text-align: center;
}
.imgnomber2{
  height: 50px;
  width: 50px;
  position: relative;
  top: -170px;
  left: 110px;
}
.moblenumber2{
  color: #fff;
  position: relative;
  font-size: 30px;
  text-align: center;
  top: -250px;
  margin-left: 30px;
}
.podnumber2{
  color: #fff;
  position: relative;
  font-size: 19px;
  top: -290px;
  text-align: center;
}
.pocht{
  height: 45px;
  width: 45px;
  position: relative;
  top: -280px;
  left: 110px;
}
.pochtp{
  color: #fff;
  position: relative;
  font-size: 30px;
  text-align: center;
  top: -370px;
  margin-left: 60px;
}

.kontk2{
  width: 40%;
  background-image: url(Фон.png);
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 30px;
  display: inline-block;
  position: relative;
  left: 100px;
  bottom: 470px;
}
.kontbord2{
  margin: 10px 10px 10px 0;
  background-color: #C8B6FF;
  border: #fff 10px solid;
  border-radius: 20px;
  position: relative;
  align-items: right;
  height: 220px;
}
.imgvk{
  height: 50px;
  width: 50px;
  padding: 10px 10px 10px 20px;
  position: relative;
  bottom: 100px;
}
.imgtg{
  height: 50px;
  width: 50px;
  padding: 10px 10px 10px 10px;
  position: relative;
  bottom: 100px;
}
.imgnt{
  height: 70px;
  width: 70px;
  padding: 10px 10px 0 290px;
  position: relative;
  bottom: 100px;
}
.kontzgl2{
  font-size: 40px;
  color: #fff;
  padding: 0 10px 10px 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
.kontp2{
  color:#fff;
  font-size: 25px;
  position: relative;
  top: -60px;
  padding: 0 10px 10px 15px;
}

.kontk3{
  width: 40%;
  background-image: url(Фон.png);
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 30px;
  position: relative;
  left: 760px;
  bottom: 500px;
}
.kontbord3{
  margin: 10px 10px 10px 0;
  background-color: #C8B6FF;
  border: #fff 10px solid;
  border-radius: 20px;
  position: relative;
  align-items: right;
  height: 220px;
}
.kontzgl3{
  font-size: 40px;
  color: #fff;
  padding: 0 10px 10px 20px;
  font-weight: bold;
  text-decoration: underline;
}
.kontp3{
  color:#fff;
  font-size: 25px;
  position: relative;
  top: -60px;
  padding: 0 10px 10px 20px;
}
.pocht3{
  height: 45px;
  width: 45px;
  position: relative;
  padding: 0 10px 10px 20px;
  bottom: 80px;
}
.pochtp3{
  color: #fff;
  position: relative;
  font-size: 30px;
  margin-left: 70px;
  bottom: 178px;
}
.imgnt3{
  height: 70px;
  width: 70px;
  padding: 10px 10px 10px 450px;
  position: relative;
  bottom: 270px;
}

/* Вход */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
}
.vhod{
  background-image: url(Фон.png);
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  align-items: center;
  text-align: center;
  width: 40%;
}
.buttonvhod{
  color: #fff;
  font-size: 25px;
  background-color: #C8B6FF;
  padding: 10px 10px 10px 10px;
  margin: 30px 30px 30px 30px;
  border-radius: 20px;
  border: #fff solid 2px;
  width: 320px;
}
.spanvhod{
  height: 30px;
  width: 30px;
  position: relative;
  left: 140px;
}
.inputvhod{
  color: #C8B6FF;
  font-size: 25px;
  border-radius: 10px;
  border-color: #C8B6FF;
  border: #fff solid 2px;
}
.inputvhod:focus{
  outline: #C8B6FF;
}
.inputvhod::placeholder {color: #C8B6FF;}
.vhoddiv{
  margin: 10px 10px 10px 10px;
  background-color: #C8B6FF;
  border: #fff 10px solid;
  border-radius: 20px;
  position: relative;
}
.formvhod{
  font-size: 40px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  margin: 30px 30px 30px 30px;
  font-weight: bold;
  text-decoration: underline;
}
.accvhod{
  position: relative;
  font-size: 20px;
  color: #fff;
  top: 20px;
}
.buttonvhodreg{
  color: #fff;
  font-size: 25px;
  background-color: #C8B6FF;
  padding: 10px 10px 10px 10px;
  margin: 30px 30px 30px 30px;
  border-radius: 20px;
  border: #fff solid 2px;
  width: 320px;
}
.podsanu-gesamilod {
  position: absolute;
  top: 185px;
  right: 120px;
  width: 30px;
  height: 30px;
  background: url(показать.png) no-repeat;
  background-size: cover;
}
.view {
  background: url(скрыть.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 185px;
  right: 120px;
  width: 30px;
  height: 30px;
}


/* Регистрация */

.reg{
  background-image: url(Фон.png);
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  align-items: center;
  text-align: center;
  width: 40%;
}
.regdiv{
  margin: 10px 10px 10px 10px;
  background-color: #C8B6FF;
  border: #fff 10px solid;
  border-radius: 20px;
}
.formreg{
  font-size: 40px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  margin: 30px 30px 30px 110px;
  font-weight: bold;
  text-decoration: underline;
}
.spanreg{
  height: 30px;
  width: 30px;
  position: relative;
  margin-left: 40px;
}
.inputreg{
  color: #C8B6FF;
  font-size: 25px;
  border-radius: 10px;
  border-color: #C8B6FF;
  border: #fff solid 2px;
  width: 330px;
}
.inputreg:focus{
  outline: #C8B6FF;
}
.inputreg::placeholder {color: #C8B6FF;}
.podreg {
  position: absolute;
  top: 280px;
  left: 428px;
  width: 30px;
  height: 30px;
  background: url(показать.png) no-repeat;
  background-size: cover;
}
.viewreg {
  background: url(скрыть.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 280px;
  left: 428px;
  width: 30px;
  height: 30px;
}
.buttonreg{
  color: #fff;
  font-size: 25px;
  background-color: #C8B6FF;
  padding: 10px 10px 10px 10px;
  margin: 30px 30px 30px 30px;
  border-radius: 20px;
  border: #fff solid 2px;
  width: 320px;
}

/*  */