body,
h2,
form,
img {
  margin: 0;
  padding: 0;
}
/* Языки */

:lang(ru) {
  font-family: 'Roboto Slab', cursive;
  font-weight: bold;
}

:lang(en) {
  font-family: 'Galada', cursive;
}
.lk{
  font-size: 20px;
}
header {
  background: #ff8c00; /* Adjust the color as needed */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 70px;
}

.my{
  flex-direction: column;
  justify-content: center;
  background: url(../rashod/phonekrugper.png) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.logo-section img {
  /* You will need your actual logo image here */
  width: 70px;
  height: 70px;
  margin-left: 10px;
  
}

.logo-section {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  font-size: 60px;
  align-items: center;
}

.menu-img {
  width: 70px;
  height: auto;
  margin-left: 10px;
}
.container {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  color: white;
}

.user-info {
  display: flex;
  align-items: center;
  background: #ff9500; /* Adjust the color as needed */
  padding: 30px !important;
}

.icon-box img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.login-name {
  font-weight: bold;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.block {
  margin: 15px 10px;
  padding: 20px;
  border-radius: 10px;
}

.personal-info.block,
.password.block {
  flex: 1; /* shorthand for flex-grow, flex-shrink, and flex-basis */
  min-height: 200px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  flex-wrap: wrap;
}

.block form button {
  align-self: center;
  margin-top: auto;
}

form > label {
  display: block; /* Make labels take their own line */
  margin-bottom: 0.5em; /* Space below the label */
}

form > input {
  width: 100%; /* Make input fields take up full width of their parent */
  margin-bottom: 1em; /* Space below the input field */
}

form input,
form button {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #fff; /* Or any color that suits your design */
}

form input[type="text"],
form input[type="password"],
form input[type="date"],
form input[type="tel"],
form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 30px;
  box-sizing: border-box; /* To include padding in the width */
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus,
form input[type="tel"]:focus,
form select:focus {
  outline: none;
  border-color: #ff4500; /* A border color when the input is focused */
}

.button {
  padding: 10px;
  width: 30%;
  min-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #e04006; /* A slightly darker shade for hover state */
}

.additional-info {
  /* Adjust the color as needed */
  padding: 20px;
  border-radius: 10px;
}

/* ДОП СТИЛИ */

.border-green {
  border: 5px solid #6a8532;
}

.border-orange {
  border: 7px solid #f9a03f;
  border-radius: 30px;
}

.border-white {
  border: 2px solid white;
}

.fill-green {
  background: #6a8532;
}

.fill-orange {
  background: #f9a03f;
}

.additional-data {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
}

.additional-data:last-child form {
  padding: 0 2% 0 4.5%;
}

.entry-block {
  width: 60%;
}

/* МЕНЮ */

#menuButton {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute; /* Позиционирование меню */
  top: 100%; /* Расположение меню под кнопкой */
  right: 0;
  background-color: #ffffff; /* Фоновый цвет меню */
  border: 10px solid #6A8532; /* Рамка меню */
  width: 250px; /* Ширина меню */
  z-index: 998; /* Убедитесь, что меню будет над другими элементами */
}

/* Стили для элементов меню */
.menu ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  border: #F9A03F;
  list-style: none;
  background-color: white;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-top: 15px;
  margin: 15px;
  text-decoration: none;
  color: #6A8532;
  border: 5px solid #F9A03F;
  border-radius: 30px;
  text-align: center;
}

.menu li a:hover {
  background-color: #ccc;
}

/* Стили для активного меню */
.menu.active {
  display: block;
}

/* ПРОЕКТЫ */

.search-box {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 10px 15px;
  width: 30%;
  margin-top: 50px;;
}

.search-box label {
  color: white;
  margin-right: 15px;
}

.search-box input[type="text"] {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  max-width: 250px;
  color: #F27F34;
}

.add-filter {
  display: flex;
  justify-content: space-between;
}

select {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
  overflow: hidden;
}

.filter {
  display: inline-block;
  font-family: Arial, sans-serif;
  padding: 10px !important;
  margin: 0;
}

.filter select {
  border-radius: 20px; /* Rounded corners, adjust radius as needed */
  color: #F27F34; /* Text color */
  cursor: pointer; /* Change cursor to pointer to indicate this is a dropdown */
}

/* To remove the focus outline if needed */
.filter select:focus {
  outline: none;
}

.add-project {
  background-color: #76a042; /* Adjust the color to match your design */
  color: white;
}

.project-item {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.project-item-stat {
  display: flex;
  justify-content: flex-start;
}

.project-module {
  margin-right: 10px;
}

.project-info {
  width: 50%;
}

.project-description {
  width: 50%;
}

.project-description-text {
  display: none;
}

/* VIEW CURS */

.backButton {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  padding: 20px;
}

.card-header {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.course-title {
  font-weight: bold;
}

.course-duration {
  font-weight: normal;
}

.main-content-view {
  display: flex;
  align-items: flex-start;
}

.card {
  width: 30%;
}

.accordion {
  width: 60%;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 15px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.accordion-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  cursor: pointer;
  flex-direction: column;
}

.accordion-item:last-child {
  border-bottom: 0;
}

.accordion-item.active .accordion-content {
  max-height: 100px; /* This should be adjusted based on content */
  margin-top: 10px;
  padding: 0 20px 20px;
  overflow: hidden;
  background: white;
  transition: max-height 0.3s ease;
}

.accordion-item .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-item .accordion-toggle {
  font-weight: bold;
  font-size: 14px;
}

.accordion-item .icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.accordion-item.active .icon {
  transform: rotate(-180deg);
}

.inner-module {
  display: flex;
  justify-content: space-between;
}

.accordion-content {
  color: #333;
}

.accordion-toggle {
  flex: 1;
  margin-left: 10px;
}

/* добавление проекта*/

.add{
  flex-direction: column;
  justify-content: center;
  background: url(../rashod/phonekrugper.png) no-repeat center center fixed;
  background-size: cover;
}

#backButton {
  background: none;
  border: none;
  font-size: 2.5em;
  cursor: pointer;
}
.back-img:hover {
  background-color: #f7994b;
}

/* Закладка */

.inq{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-wrap: balance;
}

.zacl{
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: 5px;
}

.imgblock {
    position: relative;
    left: -610px;
    display: inline-block;
}

.imgblock img {
    height: 50px;
    width: 270px;
}
.imgblock span {
    color: #ffffff;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 22px;
}
 
.info-project{
  display: flex;
  align-items: center;
  background: #ff9500; /* Adjust the color as needed */
  padding: 30px !important;
  border-radius: 30px;
  align-items: baseline;
  margin: 10px;
  flex-direction: column;
}
.main-info{
  font-size: 20px;
}

.project-area{
  border-radius: 30px;
  margin-top: -90px;
  margin: 40px;
}
